#
# Project requirements
#
#
# Requirements without version specifiers always load the latest version
#
# -- DVC with Google Drive extension
dvc[gdrive]

# -- Jupyter:
jupyterlab
ipywidgets
jupyterlab-dash

# -- Pandas & Scikit
numpy
pandas
scikit-learn

# --- Plotting libraries
matplotlib
seaborn

# --- Neural Networks
transformers
torch
torchvision
torchaudio

# Local Variables:
# mode: conf-unix
# End:
